@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("assets/img.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
}
.box1{
    display: flex;
    justify-content: center;
    height: 105px;
    width: 320px;
    padding: 40px;
    background-color: white;
}
.box1 img{
    height: 85px;
    width: 250px;
    padding: 10px 0px;
    background-color: white;
}
.box2{
    background-color: white;
    width: 400px;
    height: 449px;
    padding: 10px 0px;
}
.welcome{
    text-align: center;
    font-size: 20px;
    color: #58575d;
    margin-bottom: 20px;
}
.log{
    text-align: center;
    font-size: 16px;
    color: #58575D;
    margin: 12px 0px;
}
p{
    text-align: center;
    font-size: 14px;
    color: #767676;
    margin-bottom: 40px;
    margin-top: 10px;
}
.bt{
    text-align: center;
    color: #58575D;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 21px;
}
.inputbox{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}
.in1{
    width: 345.60px;
    height: 34.400px;
    padding: 4px 6px;
    border-left-width: 1.600px;
    border-top-width: 0.800px;
    border-right-width: 0.800px;
    border-bottom-width: 0.800px;
    border-color:#767676;
    border-radius: 3.5px;
}
.in2{
    width: 345.60px;
    height: 34.400px;
    padding: 4px 6px;
    border-left-width: 1.600px;
    border-top-width: 0.800px;
    border-right-width: 0.800px;
    border-bottom-width: 0.800px;
    border-color:#767676;
    border-radius: 3.5px;
}
.nm{
    display: flex;
}
.btn{
    transform: translateX(-86.5px);
    font-size: 18px;
    background-color: #da2032;
    color: white;
    width: 86px;
    height:46px;
    padding: 10px 16px;
    border-radius: 5.5px;
    border-width: 1px; 
}
.an{
    transform: translateX(86.5px);
    font-size: 14px;
    color: #EFBB20;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 370px;
    height:20px;
    font-size: 14px;
    color: white;
    background-color: #da2032;
}

